<p style="color: green"><%= notice %></p>

<h1>Monuments</h1>
<h2>Visit the <span data-controller="typed" data-typed-strings-value="<%= @monuments.pluck(:name) %>"></span>!</h2>
<div data-controller="insert-in-list">
  <div id="monuments" data-insert-in-list-target="items">
    <% @monuments.each do |monument| %>
      <%= render monument %>
      <p>
        <%= link_to "Show this monument", monument %>
      </p>
    <% end %>
  </div>
  <div data-controller="toggle">
    <button class="btn btn-outline-primary" data-action="click->toggle#fire">Add a new monument</button>
    <div class="d-none" data-toggle-target="togglableElement">
      <%= render "form", monument: @monument %>
    </div>
  </div>
</div>
